body 
{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
canvas
{
    display: block;
}

h1
{
    position: absolute;
    top: 2em;
    left: 2em;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 2px solid black;
    padding: .2em;
}
